  
<h1>Edit Product</h1>

<form action="/products/<%= @product.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    Name: <input type="text" name="name" value="<%= @product.name %>">
  </div>
  <div>
    Price: <input type="number" name="Price" value="<%= @product.price %>">
  </div>
  <div>
    Description: <input type="text" name="description" value="<%= @product.description %>">
  </div>
  <div>
    Image Url: <input type="text" name="image_url" value="<%= @product.image_url %>">
  </div>
  Created by: 
  <select name="user_id" id="">
    <% User.all.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select><br>
  <input type="submit" value="Edit Product">
</form>
